<header>
  <div class="container-hero">
    <div class="container hero">
      <div class="customer-support">
        <i class="fa-solid fa-headset"></i>
        <div class="content-customer-support">
          <span class="text">Soporte al cliente</span>
          <span class="number">123-456-7890</span>
        </div>
      </div>
      
      <div class="container-logo">
        <i class="fa-solid fa-book"></i>
        <h1 class="logo"><a href="/">Books Center</a></h1>
      </div>

      <div class="container-user">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-basket-shopping"></i>
        <div class="content-shopping-cart">
          <span class="text">Carrito</span>
          <span class="number">(0)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container-navbar">
    <nav class="navbar container">
      <i class="fa-solid fa-bars"></i>
      <ul class="menu">
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/categorias">Catalogo</a></li>
        <!-- <li><a routerLink="/reservacion">Reservación</a></li> -->
      </ul>

      <form class="search-form">
        <input type="search" placeholder="Buscar..." />
        <button class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </nav>
  </div>
</header>


<ng-container *ngIf="ventana.location.pathname == '/'">
  <app-home></app-home>
</ng-container>
<router-outlet></router-outlet>


<footer class="footer">
  <div class="container container-footer">
    <div class="menu-footer">
      <div class="contact-info">
        <p class="title-footer">Información de Contacto</p>
        <ul>
          <li>
            Dirección: Km 4 ½ Carretera Norte, frente a la Parmalat
          </li>
          <li>Teléfono: 123-456-7890</li>
          <li>Fax: 555</li>
          <li>EmaiL: booksCenter@support.com</li>
        </ul>
        <div class="social-icons">
          <span class="facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </span>
          <span class="twitter">
            <i class="fa-brands fa-twitter"></i>
          </span>
          <span class="youtube">
            <i class="fa-brands fa-youtube"></i>
          </span>
          <span class="pinterest">
            <i class="fa-brands fa-pinterest-p"></i>
          </span>
          <span class="instagram">
            <i class="fa-brands fa-instagram"></i>
          </span>
        </div>
      </div>

      <div class="information">
        <p class="title-footer">Información</p>
        <ul>
          <li><a href="#">Acerca de Nosotros</a></li>
          <li><a href="#">Información Delivery</a></li>
          <li><a href="#">Politicas de Privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Contactános</a></li>
        </ul>
      </div>

      <div class="my-account">
        <p class="title-footer">Mi cuenta</p>

        <ul>
          <li><a href="#">Mi cuenta</a></li>
          <li><a href="#">Historial de ordenes</a></li>
          <li><a href="#">Lista de deseos</a></li>
          <li><a href="#">Reembolsos</a></li>
        </ul>
      </div>
    </div>

    <div class="payment">
      <img src="./assets/img/payment.png" alt="Pagos">
    </div>
  </div>
</footer>